<a href="https://colab.research.google.com/github/marayyy/Guvi-Mentor-Tasks/blob/Guvi/Fetching_Data_From_Mflix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fetching Data From Mflix

01).To find the Movies in between 1950-1970 and also 2000-2015 in the given sample data.

02).Filter for genres such as Comedy, Horror and Fantasy

03).Tomatoes rating>3

04).imdb rating>7

05).Award>=1

06).Display only Title, music director name, Director names, cast and imdb rating, tomatoes rating

In order to find the movies in the list given above,

Import the required libraries and Connect Mongodb server with Python

In [1]:
from pymongo import MongoClient

In [2]:
raj = MongoClient("mongodb://maray24021999:Mongo@ac-wiomlrs-shard-00-00.fkrzenv.mongodb.net:27017,ac-wiomlrs-shard-00-01.fkrzenv.mongodb.net:27017,ac-wiomlrs-shard-00-02.fkrzenv.mongodb.net:27017/?ssl=true&replicaSet=atlas-ievdfb-shard-0&authSource=admin&retryWrites=true&w=majority")

Driver code

In [3]:
r1 = raj['sample_mflix']

In [4]:
a1 = r1['movies']

In [5]:
data=[]
for i in a1.find({'$or':[{'$and':[{'year':{'$gte':1950,'$lte':1970}},
                                       {'tomatoes.viewer.rating':{'$gt':3}},
                                       {'imdb.rating':{'$gt':7}},
                                       {'awards.wins':{'$gte':1}},
                                       {'genres':{'$in':['Comedy','Horror','Fantasy']}}]},
                              {'$and':[{'year':{'$gte':2000,'$lte':2015}},
                                       {'tomatoes.viewer.rating':{'$gt':3}},
                                       {'imdb.rating':{'$gt':7}},{'awards.wins':{'$gte':1}},
                                       {'genres':{'$in':['Comedy','Horror','Fantasy']}}]}]},
                      {'_id':0,'title':1,' music director name':1,'directors':1,'cast':1,'imdb.rating':1,'tomatoes.viewer.rating':1,'year':1}):
     data.append(i)

To view Data from the given input import the pandas library

In [6]:
import pandas as pd

In [7]:
pd.DataFrame(data)

,cast,title,directors,year,imdb,tomatoes
0,"[Anna Magnani, Walter Chiari, Tina Apicella, G...",Bellissima,[Luchino Visconti],1952,{'rating': 7.9},{'viewer': {'rating': 4.0}}
1,"[Moira Shearer, Ludmilla Tchèrina, Ann Ayars, ...",The Tales of Hoffmann,"[Michael Powell, Emeric Pressburger]",1951,{'rating': 7.4},{'viewer': {'rating': 3.8}}
2,"[Renato Rascel, Yvonne Sanson, Giulio Stival, ...",The Overcoat,[Alberto Lattuada],1952,{'rating': 7.4},{'viewer': {'rating': 3.6}}
3,"[Burt Lancaster, Dorothy McGuire, Edmund Gwenn...",Mister 880,[Edmund Goulding],1950,{'rating': 7.2},{'viewer': {'rating': 3.3}}
4,"[Fred Astaire, Red Skelton, Vera-Ellen, Arlene...",Three Little Words,[Richard Thorpe],1950,{'rating': 7.1},{'viewer': {'rating': 3.8}}
...,...,...,...,...,...,...
983,NaN,Mr Hublot,"[Alexandre Espigares, Laurent Witz]",2013,{'rating': 7.2},{'viewer': {'rating': 4.0}}
984,"[Garrett M. Brown, Rachel DiPillo, Mary Kate W...","Hello, My Name Is Frank",[Dale Peterson],2014,{'rating': 8.3},{'viewer': {'rating': 5.0}}
985,"[Ze'ev Revach, Levana Finkelstein, Aliza Rosen...",The Farewell Party,"[Tal Granit, Sharon Maymon]",2014,{'rating': 7.2},{'viewer': {'rating': 3.9}}
986,"[Elyas M'Barek, Karoline Herfurth, Katja Riema...",Suck Me Shakespeer,[Bora Dagtekin],2013,{'rating': 7.1},{'viewer': {'rating': 3.6}}
987,"[Seija Airamo, Erkki Broman, Pirjo Mutanen, Ma...",Garden Lovers,[Virpi Suutari],2014,{'rating': 7.3},{'viewer': {'rating': 3.8}}